# Dependencies
node_modules
.pnpm-store

# Build outputs
dist

# Git
.git
.gitignore

# CI/CD
.github

# Documentation
README.md

# Environment files
.env*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
